<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Skills</title>
</head>
<body>
    <main>
        <nav>
          <ul>
            <li><a href="/">&lt; Back</a></li>
          </ul>
        </nav>
    
        <h1>What are my skills?</h1>
    
        <ul>
            <% skills.forEach(function(s) { %>
                <li>
                    <a href="/skills/<%= s.name %>"><%= s.name %></a>
                </li>
            <% }) %>
        </ul>
    
      </main>
</body>
</html>