<%- include('../partials/header') %>

<form action="/skills" method="POST" autocomplete="off">
    <input type="text" name="name" placeholder="Skill name"><br>
    <input type="text" name="type" placeholder="Type (hard/soft)"><br>
    <input type="text" name="level" placeholder="Level (beginner, intermediate, advanced)"><br>
    <button type="submit">Add Skill</button>
</form>

<%- include('../partials/footer') %>